.button {
    border: 5px solid grey;
    background-color: lightgrey;
    color: black;
    padding: 1vh;
    text-decoration: none;
}
.button2 {
    border: 5px solid red;
    background-color: lightgrey;
    color: black;
    padding: 1vh;
}
.button3 {
    border: 5px solid grey;
    background-color: lightgrey;
    color: black;
    padding: 0,5vh;
    text-decoration: none;
}
.menu1 {
    background-color: darkgrey;
    padding: 3vh
}